@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', sans-serif;
}

.error {
    margin-top: 40px;
    margin-left: 77px;
    margin-bottom: 200px;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    color: #333333;
}

.main-section-container {
    display: flex;
    margin-left: 77px;
    margin-right: 119px;
}

.image-container {
    width: 539px;
    height: 414px;
}

.image {
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-header {
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
    width: 586px;
    height: 190px;
    margin-bottom: 36px;
}

.text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 381px;
    height: 108px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
    margin-bottom: 64px;
}

.home-button {
    width: 216px;
    height: 68px;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 14px;
    letter-spacing: -0.035em;
    font-weight: 700;
}

.footer {
    text-align: center;
    margin-top: 331px;
    margin-bottom: 24px;
    color: #BDBDBD;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}

.footer span {
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 700px) {
    .error {
        margin-bottom: 60px;
    }
    .main-section-container {
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
        justify-content: center;
        align-items: center;
    }
    .image-container {
        width: 300px;
        height: 220px;
        margin-bottom: 70px;
    }
    .text-header {
        width: 350px;
        height: 142px;
        font-size: 48px;
        line-height: 71px;
    }
    .text {
        width: 328px;
        font-size: 18px;
    }
    .footer {
        margin-top: 114px;
    }
}

@media (min-width: 701px) and (max-width: 1200px){
    .error {
        margin-left: 40px;
        margin-right: 40px;
    }
    .main-section-container {
        margin-left: 40px;
    }
    .image-container {
        width: 400px;
        height: 400px;
        flex-shrink: 0;
    }
    .text-header {
        width: 300px;
        height: 100px;
        font-size: 40px;
        line-height: 30px;
        margin-bottom: 10px;
    }
}